<div class="preheader">
  <div class="container">
    <div class="container-inner">
      <button class="btn" (click)="setLocale('en')">{{'BUTTON.LANG.EN' | translate}}</button>
      <button class="btn" (click)="setLocale('ru')">{{'BUTTON.LANG.RU' | translate}}</button>
      <button class="btn theme-black" [ngClass]="{'theme-black': data.isDarkTheme, 'theme-white': !data.isDarkTheme}" (click)="setTheme()">
        <div *ngIf="data.isDarkTheme">{{'THEME.DARK' | translate}}</div>
        <div *ngIf="!data.isDarkTheme">{{'THEME.LIGHT' | translate}}</div>
      </button>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="container">
    <a [routerLink]="['/']">
      <div class="logo">
        <div class="prelogo"></div>
      <div class="header-logo">
        <div class="header-logo__item"></div>
      </div>
      </div>
    </a>
    <div class="search">
      <app-smart-search></app-smart-search>
    </div>
    <div class="navbar">
      <ul class="navbar-items">
        <li class="navbar-item">
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
            <div>{{'NAV.MAIN' | translate}}</div>
          </a>
          </button>
        </li>
        <li class="navbar-item">
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/edit']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div>{{'NAV.EDIT' | translate}}</div>
            </a>
          </button>
        </li>
        <li class="navbar-item">
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/rating']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div>{{'NAV.RATING' | translate}}</div>
            </a>
          </button>
        </li>
        <li
          class="navbar-item"
          *ngIf="!data.isLogged"
        >
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/registration']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div>{{'NAV.SIGNIN' | translate}}</div>
            </a>
          </button>
        </li>
        <li
          class="navbar-item"
          *ngIf="data.isLogged"
        >
        <button class="navbar-item__button" (click)="toggleProfileMenu()">
          <a
            class="navbar-item__link"
          >
            <div class="profile">
              <img class="profile-img" src="../../../../assets/main.jpg" alt="profile">
            </div>
          </a>
        </button>
        <div class="profile-menu" [ngClass]="{'show': profileShow}">
          <div class="profile">
            <img class="profile-img" src="../../../../assets/main.jpg" alt="profile">
          </div>
          <div class="info" *ngIf="data.user">
            <hr class="devider">
            <div class="name">{{data.user.name}}</div>
            <div class="email">{{data.user.email}}</div>
            <hr class="devider">
          </div>
          <button class="btn signOut" (click)="signOut()">
            <div>{{'NAV.SIGNOUT' | translate}}</div>
          </button>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>
