<div class="preheader">
  <div class="container">
    <div class="container-inner">
      <button class="btn" (click)="enLocale()" [disabled]="isEnLocale">En</button>
      <button class="btn" (click)="ruLocale()" [disabled]="!isEnLocale">Ru</button>
      <button class="btn theme-black" [ngClass]="{'theme-black': data.isDarkTheme, 'theme-white': !data.isDarkTheme}" (click)="setTheme()">
        <div *ngIf="data.isDarkTheme">Black</div>
        <div *ngIf="!data.isDarkTheme">White</div>
      </button>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="container">
    <a [routerLink]="['/']">
      <div class="logo">
        <div class="prelogo"></div>
      <div class="header-logo">
        <div class="header-logo__item"></div>
      </div>
      </div>
    </a>
    <div class="search">
      <app-smart-search></app-smart-search>
    </div>
    <div class="navbar">
      <ul class="navbar-items">
        <li class="navbar-item">
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
            <div *ngIf="isEnLocale">Main</div>
            <div *ngIf="!isEnLocale">Главная</div>
          </a>
          </button>
        </li>
        <li class="navbar-item">
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/edit-page']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div *ngIf="isEnLocale">Edit</div>
              <div *ngIf="!isEnLocale">Изменить</div>
            </a>
          </button>
        </li>
        <li class="navbar-item">
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/rating-page']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div *ngIf="isEnLocale">Rating</div>
              <div *ngIf="!isEnLocale">Рейтинг</div>
            </a>
          </button>
        </li>
        <li
          class="navbar-item"
          *ngIf="!data.isLogged"
        >
          <button class="navbar-item__button">
            <a
              class="navbar-item__link"
              [routerLink]="['/registration']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >
              <div *ngIf="isEnLocale">Sign&nbsp;In</div>
              <div *ngIf="!isEnLocale">Войти</div></a>
          </button>
        </li>
        <li
          class="navbar-item"
          *ngIf="data.isLogged"
        >
        <button class="navbar-item__button" (click)="toggleProfileMenu()">
          <a
            class="navbar-item__link"
          >
            <div class="profile">
              <img class="profile-img" src="../../../../assets/main.jpg" alt="profile">
            </div>
          </a>
        </button>
        <div class="profile-menu" [ngClass]="{'show': profileShow}">
          <div class="profile">
            <img class="profile-img" src="../../../../assets/main.jpg" alt="profile">
          </div>
          <div class="info">
            <hr class="devider">
            <div class="name">{{data.user.name}}</div>
            <div class="email">{{data.user.email}}</div>
            <hr class="devider">
          </div>
          <button class="btn signOut" (click)="signOut()">
            <div *ngIf="isEnLocale">Sign Out</div>
            <div *ngIf="!isEnLocale">Выйти</div>
          </button>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>
