@import '../../../../theme.scss';

$url: 'https://www.specific-group.by/fileadmin/user_upload/logos/logo_footer.png';

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  background-color: var(--base-bg-footer);

  .contacts {
    display: flex;
    flex-direction: column;

    .contact-item {
      color: var(--contact-text-color);
      text-decoration: none;
      padding: 5px;
    }

    .address {
      font-weight: bold;
    }
  }

  &-logo {
    width: 15vw;
    height: 9vh;
    background: url($url);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
