@import '../../../../theme.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;

  .container-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 50%;
    border-radius: 20px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    .dropdown {
      position: relative;
      display: inline-block;
      background-color: var(--dropdown-bg-color);
      width: 80%;
      text-align: center;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
      }
      &:hover .dropdown-content {
        display: flex;
        flex-direction: column;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--dropdown-bg-color);
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 0;
        z-index: 1;
        border-radius: 10px;


        .dropdown-content__item {
          background-color: var(--base-bg-color);
          border-radius: 10px;

          &:hover{
            cursor: pointer;
            opacity: .9;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
          }
        }
      }
    }

    .btn-item {
      display: inline-block;
      background: var(--btn-bg-color);
      color: var(--btn-text-color);
      padding: 0.4rem 1.3rem;
      font-size: 1rem;
      border: none;
      margin-right: 0.5rem;
      transition: opacity 0.2s ease-in;
      outline: none;
      width: 50%;
      border-radius: 10px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}








