<div class="container">

  <div class="container-inner">
    <div class="dropdown">
      <span>Hover to select the rating type</span>
      <div class="dropdown-content">
        <p class="dropdown-content__item" (click)="isPopular = true">Most popular movie</p>
        <p class="dropdown-content__item" (click)="isPopular = false">Most unpopular movie</p>
      </div>
    </div>

    <div *ngIf="this.data.ratingData; else noRatings">
      <p
        *ngIf="isPopular">Most popular movie: {{mostPopularMovieTitle}}
          <br>Movie rating: {{mostPopularMoviePoint}} points
      </p>
      <p
        *ngIf="!isPopular">Most unpopular movie: {{mostUnpopularMovieTitle}}
          <br>Movie rating: {{mostUnpopularMoviePoint}} points
      </p>
    </div>
    <ng-template #noRatings>
      <div>
        <p>{{mostPopularMovieTitle}}
          <br>{{mostPopularMovieRating}}
        </p>
      </div>
    </ng-template>
  </div>

</div>
