<div class="container">

  <div class="container-inner">
    <div class="dropdown">
      <span>Hover to select the rating type</span>
      <div class="dropdown-content">
        <p class="dropdown-content__item" (click)="setRatedMovie()">Most popular movie</p>
        <p class="dropdown-content__item" (click)="setRatedMovie()">Most unpopular movie</p>
      </div>
    </div>

    <div *ngIf="this.data.ratingData; else noRatings">
      <p *ngIf="isPopular">Most popular movie: {{this.mostPopularMovieTitle}}</p>
      <p *ngIf="!isPopular">Most unpopular movie: {{this.mostUnpopularMovieTitle}}</p>
    </div>
    <ng-template #noRatings>
      <p>{{this.mostPopularMovieTitle}}</p>
    </ng-template>
  </div>

</div>
