@import url('../../../theme.css');

.container {
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.container-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 50%;
  border-radius: 20px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--dropdown-bg-color);
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg-color);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0;
  z-index: 1;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content__item {
  background-color: var(--base-bg-color);
  border-radius: 10px;
}

.dropdown-content__item:hover{
  cursor: pointer;
  opacity: .9;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
