.footer-logo {
  width: 15vw;
}

.contact-item {
  color: #215A93;
  text-decoration: none;
}

.address {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
