<div class="container">

  <div class="container-inner">
    <div class="dropdown">
      <div class="dropdown-inner">
        <span>{{"RATING.BUTTON.DROPDOWNBTN" | translate}}</span>
        <div class="dropdown-content">
          <div class="dropdown-content__item" (click)="getPopularMovie(mostPopularMovieTitle)">
            <div>{{"RATING.BUTTON.POPULAR" | translate}}</div>
          </div>
          <div class="dropdown-content__item" (click)="getUnpopularMovie(mostUnpopularMovieTitle)" *ngIf="mostUnpopularMovieTitle">
            <div>{{"RATING.BUTTON.UNPOPULAR" | translate}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="isPopular">
        <div>{{"RATING.BUTTON.POPULAR" | translate}}</div>
      </div>
      <div *ngIf="!isPopular">
        <div>{{"RATING.BUTTON.UNPOPULAR" | translate}}</div>
      </div>
      <button class="btn-item" (click)="resetRating()">
        <div>{{"RATING.BUTTON.RESET" | translate}}</div>
      </button>
    </div>
    <div class="rating">
      <div *ngIf="title; else noRatings">
        <div *ngIf="!isReset; else noRatings">
          <div class="rating-inner" *ngIf="isPopular">
            <div class="rating-inner__main">
              <div class="title">{{mostPopularMovieTitle}}</div>
              <div class="image"><img class="image-item" src={{thumb}} alt="prew"></div>
              <div class="rating-point">{{"RATING.RATING" | translate}}: {{mostPopularMoviePoint}} {{"RATING.POINTS" | translate}}</div>
            </div>
            <div class="description">{{description}}</div>
          </div>
          <div class="rating-inner" *ngIf="!isPopular && mostUnpopularMovieTitle.length !== 0">
            <div class="rating-inner__main">
              <div class="title">{{mostUnpopularMovieTitle}}</div>
              <div class="image"><img class="image-item" src={{thumb}} alt="prew"></div>
              <div class="rating-point">{{"RATING.RATING" | translate}}: {{mostUnpopularMoviePoint}} {{"RATING.POINTS" | translate}}</div>
            </div>
            <div class="description">{{description}}</div>
          </div>
        </div>
      </div>
      <ng-template #noRatings>
        <div *ngIf="isSavedRating && title; else noSavedRatings">
          <div *ngIf="!isReset; else noRatings">
            <div class="rating-inner" *ngIf="isPopular">
              <div class="rating-inner__main">
                <div class="title">{{mostPopularMovieTitle}}</div>
                <div class="image"><img class="image-item" src={{thumb}} alt="prew"></div>
                <div class="rating-point">{{"RATING.RATING" | translate}}: {{mostPopularMovieTitle}} {{"RATING.POINTS" | translate}}</div>
              </div>
              <div class="description">{{description}}</div>
            </div>
          </div>
        </div>
        <ng-template #noSavedRatings>
          <div>
            {{"RATING.NORATINGS" | translate}}
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
