@import '../../../theme.scss';

.movie {
  width: 106% !important;
}

.rating {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.rate-movie__text {
  font-size: 1.4rem;
  margin-top: 1%;
  margin-right: 4%;
}

.toster-item {
  color: $base-valid-color;
}
