@import '../../../../theme.scss';


.container {
  display: flex;
  flex-direction: column;
  max-width: 40%;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: var(--base-border-color) 1px dotted;
    margin: 0.7rem 0;

    &-title {
      color: var(--btn-text-color);
    }

    .form-control {
      display: flex;
      margin-top: 0.8rem;
      margin-bottom: 4.3rem;
      flex-direction: column;
      border: none;
      color: var(--btn-text-color);

      .head {
        display: block;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: .5rem;
      }

      .input-text {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid var(--base-border-color);
        margin-bottom: 0;

        &.ng-invalid.ng-touched {
          border: 1px solid var(--base-invalid-color);
        }

        &.ng-valid.ng-touched {
          border: 1px solid var(--base-valid-color);
        }
      }

      .dark-theme {
        color: var(--dark-base-text-color);
      }

      .validation {
        color: var(--base-invalid-color);
        height: 2rem;
      }
    }

    .hint {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      opacity: 0;

      &-item {
        color: var(--base-valid-color);
      }
    }

    .hint-show {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      opacity: 1;
      transition: all .5s ease-out;
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        @include btnStyles();
      }
    }

    .devider {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--base-devider-color);
      margin: 20px 0;

      &-item {
        font-size: 1rem;
      }

      :after {
        content: "";
        width: 100%;
        background-color: transparent;
        display: block;
        height: 1px;
        border-top: 1px solid var(--base-devider-color);
        top: 50%;
        margin-top: -1px;
        z-index: 1;
      }
    }
  }
  @include darkThemeSecond();

  .btn {
    @include btnStyles();
  }

  .wrong-log {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    color: var(--base-invalid-color);

    &__show {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      opacity: 1;
      transition: all .5s ease-out;
    }
  }
}
