<div class="container">
  <form class="card" *ngIf="!isReg; else regForm" [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="card-title">Sign-In</h2>

    <div
      class="form-control"
      *ngIf="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
      <label for="email">Email:</label>
      <input
        class="input-text"
        id="email"
        type="email"
        formControlName="email">
      <div
        class="validation"
        *ngIf="form.get('email').touched && form.get('email').invalid"
      >
        <small
          *ngIf="form.get('email').errors.required"
        >Field email can not be empty.</small>
        <small
          *ngIf="form.get('email').errors.email"
        >Enter correct email.</small>
      </div>
    </div>

    <div
      class="form-control"
      *ngIf="{invalid: form.get('password').touched && form.get('password').invalid}"
      >
      <label for="password">Password:</label>
      <input
        class="input-text"
        id="password"
        type="password"
        formControlName="password">
      <div
        class="validation"
        *ngIf="form.get('password').touched && form.get('password').invalid"
      >
        <small
          *ngIf="form.get('password').errors.required"
        >Field password can not be empty.</small>
        <small
          *ngIf="form.get('password').errors.minlength"
        >The password must be at least {{form.get('password').errors.minlength.requiredLength}} characters long. He is now {{form.get('password').errors.minlength.actualLength}} characters.</small>
      </div>
    </div>

    <div class="btn-container">
      <button
        class="btn"
        type="submit"
        [disabled]="form.invalid || this.data.isLogged || isReg"
      >Sign-In</button>
    </div>

    <div class="devider">
      <h5 class="devider-item">New to SPG Movies?</h5>
    </div>

    <div class="btn-container">
      <button
        class="btn"
        type="button"
        [disabled]="this.data.isLogged"
        (click)="registrationForm()"
      >Create your account</button>
    </div>
  </form>
  <div
    class="wrong-log"
    *ngIf="wrongLog"
    [ngClass]="{'wrong-log__show': wrongLog}">Wrong login or password</div>
</div>


<ng-template #regForm>
  <form class="card" [formGroup]="formReg" (ngSubmit)="registration()">
    <h2 class="card-title">Create account</h2>

    <div
      class="form-control"
      *ngIf="{invalid: formReg.get('email').touched && formReg.get('email').invalid}"
    >
      <label for="email">Email:</label>
      <input
        class="input-text"
        id="email"
        type="email"
        formControlName="email">
      <div
        class="validation"
        *ngIf="formReg.get('email').touched && formReg.get('email').invalid"
      >
        <small
          *ngIf="formReg.get('email').errors.required"
        >Field email can not be empty.</small>
        <small
          *ngIf="formReg.get('email').errors.email"
        >Enter correct email.</small>
      </div>
    </div>

    <div
      class="form-control"
      *ngIf="{invalid: formReg.get('password').touched && formReg.get('password').invalid}"
      >
      <label for="password">Password:</label>
      <input
        class="input-text"
        id="password"
        type="password"
        formControlName="password">
      <div
        class="validation"
        *ngIf="formReg.get('password').touched && formReg.get('password').invalid"
      >
        <small
          *ngIf="formReg.get('password').errors.required"
        >Field password can not be empty.</small>
        <small
          *ngIf="formReg.get('password').errors.minlength"
        >The password must be at least {{formReg.get('password').errors.minlength.requiredLength}} characters long. He is now {{formReg.get('password').errors.minlength.actualLength}} characters.</small>
      </div>
    </div>
      <div
        class="form-control"
        *ngIf="isReg || {invalid: formReg.get('first-name').touched && formReg.get('first-name').invalid}"
        >
        <label for="first-name">First Name:</label>
        <input
          class="input-text"
          id="first-name"
          type="text"
          formControlName="first-name">
        <div
          class="validation"
          *ngIf="formReg.get('first-name').touched && formReg.get('first-name').invalid"
        >
          <small
            *ngIf="formReg.get('first-name').errors.required"
          >Field first name can not be empty.</small>
        </div>
      </div>

      <div
        class="form-control"
        *ngIf="isReg || {invalid: formReg.get('last-name').touched && formReg.get('last-name').invalid}"
        >
        <label for="last-name">Last Name:</label>
        <input
          class="input-text"
          id="last-name"
          type="text"
          formControlName="last-name">
        <div
          class="validation"
          *ngIf="formReg.get('last-name').touched && formReg.get('last-name').invalid"
        >
          <small
            *ngIf="formReg.get('last-name').errors.required"
          >Field last name can not be empty.</small></div>
      </div>

    <div class="btn-container">
      <button
        class="btn"
        [disabled]="formReg.invalid"
        type="submit"
      >Create account</button>

    </div>
  </form>
  <button
  class="btn"
  type="button"
  (click)="backToLogging()"
>Back to logging</button>
</ng-template>
