<div class="d-flex justify-content-center flex-column align-items-center video-player">
  <div class="title text-center">
    <h3 class="title-item">{{movie.title}}</h3>
  </div>
  <div
    class="d-flex embed-responsive embed-responsive-21by9 justify-content-center w-50"
    [ngClass]="{'movie' : data.dataForMovieNewWindow}">
      <video
        #videoPlayer
        src="{{movie.sources}}"
        controls="controls"
        [attr.poster]="movie.thumb ? movie.thumb : posterUrl"
        class='embed-responsive-item video'

        [autoplay]="true"
        (timeupdate)="getCurrentTime($event)"
        ></video>
  </div>
  <div class="rating" *ngIf="movie.sources">
    <div *ngIf="isRated" class="toast">Movie rated!</div>
    <div class="rate-movie__text">Rate the movie: </div>
    <div *ngFor="let item of this.data.movies">
      <star-rating *ngIf="item.title === movie.title" [(value)]="this.data.ratingValue" [(totalstars)]="totalstars"
        checkedcolor="{{checkedcolor}}" uncheckedcolor="{{uncheckedcolor}}" size="{{size}}" readonly={{readonly}}
        (rate)="onRate($event)">
      </star-rating>
    </div>
  </div>
</div>
