<div class="container">
  <form class="card">
    <h1>Form add a movie</h1>

    <div class="form-control">
      <label class="head">Title</label>
      <input class="input-text" type="text" placeholder="Title">
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label class="head">Description</label>
      <input class="input-text" type="password" placeholder="Description">
      <div class="validation"></div>
    </div>

    <div class="form-control">
      <label class="head">Movie Link</label>
      <input class="input-text" type="password" placeholder="Movie Link">
      <div class="validation"></div>
    </div>

    <button class="btn">Add Movie</button>

  </form>
</div>
