<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label class="head">Title</label>
      <input class="input-text" type="title" placeholder="Title" formControlName="title">
      <div
        class="validation"
        *ngIf="form.get('title').invalid && form.get('title').touched">
        <small>
          Field title cannot be empty.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label class="head">Subtitle</label>
      <input class="input-text" type="text" placeholder="Subtitle" formControlName="subtitle">
      <div
        class="validation"
        *ngIf="form.get('subtitle').invalid && form.get('subtitle').touched">
        <small>
          Field subtitle cannot be empty.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label class="head">Description</label>
      <input class="input-text" type="text" placeholder="Description" formControlName="description">
      <div class="validation"
      *ngIf="form.get('description').invalid && form.get('description').touched">
        <small>
          Field description cannot be empty.
        </small>
      </div>
    </div>

    <div class="form-control">
      <label class="head">Movie Link</label>
      <input class="input-text" type="url" placeholder="Movie Link" formControlName="sources">
      <div class="validation"
      *ngIf="form.get('sources').invalid && form.get('sources').touched">
        <small>Field movie link cannot be empty.</small>
      </div>
    </div>

    <button *ngIf="!editBtn; else edit" class="btn" type="submit" [disabled]="form.invalid">Add Movie</button>
    <ng-template #edit>
      <button (click)="editChangedMovie()" class="btn" type="submit" [disabled]="form.invalid">Edit Movie</button>
    </ng-template>
    <div
      class="hint"
      [ngClass]="{'hint-show': notification}"
      ><div class="hint-item">Movie Added</div></div>
  </form>

  <div class="movies-list" *ngFor="let item of this.data.movies | keyvalue">
    <div class="movie-item">
      <h3 class="title">{{item.value.title}}</h3>
      <h4 class="title subtitle">{{item.value.subtitle}}</h4>
      <div class="description">{{item.value.description}}</div>
      <div class="url">
        {{item.value.sources}}
      </div>
      <button class="btn" (click)="editMovie(item)" [disabled]="editBtn">Edit Movie</button>
    </div>
  </div>

</div>
