<div
  *ngIf="data.isLogged; else registration"
  class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label class="head">
        <div>{{'EDIT.FORM.TITLE' | translate}}</div>
      </label>
      <input class="input-text" type="title" placeholder="{{'EDIT.FORM.TITLE' | translate}}" formControlName="title">
      <div
        class="validation"
        *ngIf="form.get('title').invalid && form.get('title').touched">
        <small>
          <div>{{'EDIT.NATIFICATION.EMPTYTITLE' | translate}}.</div>
        </small>
      </div>
    </div>

    <div class="form-control">
      <label class="head">
        <div>{{'EDIT.FORM.SUBTITLE' | translate}}</div>
      </label>
      <input class="input-text" type="text" placeholder="{{'EDIT.FORM.SUBTITLE' | translate}}" formControlName="subtitle">
      <div
        class="validation"
        *ngIf="form.get('subtitle').invalid && form.get('subtitle').touched">
        <small>
          <div>{{'EDIT.NATIFICATION.EMPTYSUBTITLE' | translate}}.</div>
        </small>
      </div>
    </div>

    <div class="form-control">
      <label class="head">
        <div>{{'EDIT.FORM.DESCRIPTION' | translate}}</div>
      </label>
      <input class="input-text" type="text" placeholder="{{'EDIT.FORM.DESCRIPTION' | translate}}" formControlName="description">
      <div class="validation"
      *ngIf="form.get('description').invalid && form.get('description').touched">
        <small>
          <div>{{'EDIT.NATIFICATION.EMPTYDESCRIPTION' | translate}}.</div>
        </small>
      </div>
    </div>

    <div class="form-control">
      <label class="head">
        <div>{{'EDIT.FORM.MOVIELINK' | translate}}</div>
      </label>
      <input class="input-text" type="text" placeholder="{{'EDIT.FORM.MOVIELINK' | translate}}" formControlName="sources">
      <div class="validation"
      *ngIf="form.get('sources').invalid && form.get('sources').touched">
        <small>
          <div>{{'EDIT.NATIFICATION.EMPTYLINK' | translate}}.</div>
        </small>
      </div>
    </div>

    <div class="form-control" *ngIf="false">
      <label class="head">
        <div>{{'EDIT.FORM.MOVIELINK' | translate}}</div>
      </label>
      <input class="input-text" type="text" formControlName="id">
    </div>

    <button *ngIf="!editBtn; else edit" class="btn" type="submit" [disabled]="form.invalid">
      <div>{{'EDIT.FORM.ADDMOVIE' | translate}}</div>
    </button>
    <ng-template #edit>
      <button (click)="editChangedMovie()" class="btn" type="submit" [disabled]="form.invalid">
        <div>{{'EDIT.FORM.EDITMOVIE' | translate}}</div>
      </button>
    </ng-template>
    <div
      class="hint"
      [ngClass]="{'hint-show': notification}"
      ><div class="hint-item">
        <div>{{'EDIT.NATIFICATION.MOVIEADDED' | translate}}</div>
      </div></div>
  </form>

  <div class="movies-list" *ngFor="let item of movies | keyvalue">
    <div class="movie-item">
      <h3 class="title">{{item.value.title}}</h3>
      <h4 class="title subtitle">{{item.value.subtitle}}</h4>
      <div class="description">{{item.value.description}}</div>
      <div class="url">
        {{item.value.sources}}
      </div>
      <button class="btn" (click)="editMovie(item)" [disabled]="editBtn">
        <div>{{'EDIT.FORM.EDITMOVIE' | translate}}</div>
      </button>
    </div>
  </div>

</div>

<ng-template #registration>
  <div class="container">{{redirect()}}</div>
</ng-template>
