<div class="video">
  <app-video-player class="w-75"></app-video-player>
</div>

<div id="movie" class="container d-flex p-2 justify-content-between flex-wrap w-100">
  <div>
    {{movieDescription}}
  </div>

  <div class="title">
    COMMENTS
  </div>
  <hr class="devider">

  

  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <quill-editor formControlName="text" class="editor input-text"></quill-editor>
    </div>

    <button (click)="submit()">Shared</button>
  </form>
</div>
