<div class="video">
  <app-video-player class="w-75"></app-video-player>
</div>

<div id="comments" class="container d-flex p-2 justify-content-between flex-wrap w-100">
  <div>
    {{movieDescription}}
  </div>

  <hr class="devider">
  <div class="title">
    {{"DETAILS.COMMENTS" | translate}}
  </div>
  <hr class="devider">

  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <quill-editor formControlName="text" class="editor input-text"></quill-editor>
    </div>

    <div class="btn">
      <button 
        (click)="submit()"
        class="btn-item"  
      >{{"DETAILS.COMMENT" | translate}}</button>
    </div>
  </form>
</div>
