<div class="container">
  <form class="card"  [formGroup]="parent.form" (ngSubmit)="submit()">
    <h2 class="card-title">{{"SIGNIN.LOGGIN.TEXT.SIGNIN" | translate}}</h2>

    <div
      class="form-control"
      *ngIf="{invalid: parent.form.get('email').touched && parent.form.get('email').invalid}"
    >
      <label for="email">{{"SIGNIN.LOGGIN.TEXT.EMAIL" | translate}}:</label>
      <input
        class="input-text"
        id="email"
        type="email"
        formControlName="email">
      <div
        class="validation"
        *ngIf="parent.form.get('email').touched && parent.form.get('email').invalid"
      >
        <small
          *ngIf="parent.form.get('email').errors.required"
        >{{"SIGNIN.LOGGIN.NOTIFICATION.EMPTY_EMAIL" | translate}}.</small>
        <small
          *ngIf="parent.form.get('email').errors.email"
        >{{"SIGNIN.LOGGIN.NOTIFICATION.INCOR_EMAIL" | translate}}.</small>
      </div>
    </div>

    <div
      class="form-control"
      *ngIf="{invalid: parent.form.get('password').touched && parent.form.get('password').invalid}"
      >
      <label for="password">{{"SIGNIN.LOGGIN.TEXT.PASS" | translate}}:</label>
      <input
        class="input-text"
        id="password"
        type="password"
        formControlName="password">
      <div
        class="validation"
        *ngIf="parent.form.get('password').touched && parent.form.get('password').invalid"
      >
        <small
          *ngIf="parent.form.get('password').errors.required"
        >{{"SIGNIN.LOGGIN.NOTIFICATION.EMPTY_PASS" | translate}}.</small>
        <small
          *ngIf="parent.form.get('password').errors.minlength"
        >{{"SIGNIN.LOGGIN.NOTIFICATION.INCOR_PASS" | translate}}.</small>
      </div>
    </div>

    <div class="btn-container">
      <button
        class="btn"
        type="submit"
        [disabled]="parent.form.invalid || data.isLogged || parent.isReg"
      >{{"SIGNIN.LOGGIN.BUTTON.SIGNIN" | translate}}</button>
    </div>

    <div class="devider">
      <h5 class="devider-item">{{"SIGNIN.LOGGIN.TEXT.QUESTION" | translate}}?</h5>
    </div>

    <div class="btn-container">
      <button
        class="btn"
        type="button"
        [disabled]="data.isLogged"
        (click)="parent.registrationForm()"
      >{{"SIGNIN.LOGGIN.BUTTON.CREATE" | translate}}</button>
    </div>
  </form>
  <div
    class="wrong-log"
    *ngIf="wrongLog"
    [ngClass]="{'wrong-log__show': wrongLog}">{{"SIGNIN.LOGGIN.NOTIFICATION.WRONG_LOG" | translate}}</div>
</div>
