<div class="container">
  <form class="card"  [formGroup]="parent.form" (ngSubmit)="submit()">
    <h2 class="card-title">Sign-In</h2>

    <div
      class="form-control"
      *ngIf="{invalid: parent.form.get('email').touched && parent.form.get('email').invalid}"
    >
      <label for="email">Email:</label>
      <input
        class="input-text"
        id="email"
        type="email"
        formControlName="email">
      <div
        class="validation"
        *ngIf="parent.form.get('email').touched && parent.form.get('email').invalid"
      >
        <small
          *ngIf="parent.form.get('email').errors.required"
        >Field email can not be empty.</small>
        <small
          *ngIf="parent.form.get('email').errors.email"
        >Enter correct email.</small>
      </div>
    </div>

    <div
      class="form-control"
      *ngIf="{invalid: parent.form.get('password').touched && parent.form.get('password').invalid}"
      >
      <label for="password">Password:</label>
      <input
        class="input-text"
        id="password"
        type="password"
        formControlName="password">
      <div
        class="validation"
        *ngIf="parent.form.get('password').touched && parent.form.get('password').invalid"
      >
        <small
          *ngIf="parent.form.get('password').errors.required"
        >Field password can not be empty.</small>
        <small
          *ngIf="parent.form.get('password').errors.minlength"
        >The password must be at least {{parent.form.get('password').errors.minlength.requiredLength}} characters long. He is now {{parent.form.get('password').errors.minlength.actualLength}} characters.</small>
      </div>
    </div>

    <div class="btn-container">
      <button
        class="btn"
        type="submit"
        [disabled]="parent.form.invalid || data.isLogged || parent.isReg"
      >Sign-In</button>
    </div>

    <div class="devider">
      <h5 class="devider-item">New to SPG Movies?</h5>
    </div>

    <div class="btn-container">
      <button
        class="btn"
        type="button"
        [disabled]="data.isLogged"
        (click)="parent.registrationForm()"
      >Create your account</button>
    </div>
  </form>
  <div
    class="wrong-log"
    *ngIf="wrongLog"
    [ngClass]="{'wrong-log__show': wrongLog}">Wrong login or password</div>
</div>
