@import '../../../../theme.scss';


.movie-filmlist {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--base-bg-color);
  
  &__inner {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .movie {
      width: 100% !important;
    }
  }
}

.movies-list {
  display: flex;
  justify-content: flex-start;

  &__item {
    margin: 10px 4%;
    padding: 5px 10px 10px 10px;
    opacity: var(--base-opasity);

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .title-link {
      text-decoration: none;
      color: var(--base-text-color);

      .title{
        display: inline;
        font-size: 1.4rem;
        color: var(--btn-text-color);
        line-height: 35px;
        background-color: var(--base-bg-header);
      }

      h1.title::after {
        content: "";
        background: #bfd5dd;
        display: block;
        height: 2px;
        margin-bottom: 25px;
        width: 99%;
        margin-top: -10px;
        margin-left: 1%
      }
    }

    .subtitle{
      font-size: 1.2rem;
      color: var(--btn-text-color);
    }

    .modal-description {
      display: flex;
      width: 0;
      height: 10%;
      margin-top: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: -1;

    }

    .modal-description-active {
      display: inline;
      margin-top: 19rem;
      width: 20%;
      height: 0;
      position: absolute;
      opacity: 0;
      visibility: visible;
      opacity: 1;

      &:hover {
        cursor: pointer;
      }

      .description {
        background: var(--base-bg-color);
        opacity: .9;
        margin-right: 14%;
        padding: 10px 5px;
      }
    }



    .btn {
      background-color: var(--base-bg-color);
      color: var(--btn-text-color);

      &:hover {
        color: var(--base-text-color);
      }
    }
  }
}
