@mixin shadow {
  border-radius: 10px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

:host ::ng-deep .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 1rem;
  border: 10px;

  .card {
    @include shadow();
  }

  .movie-item {
    @include shadow();
  }

}

:host ::ng-deep .movies-list {

  &__item {
    @include shadow();

    .description {
      @include shadow();
    }
  }


}

