@import '../../../../theme.scss';

:host ::ng-deep .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 1rem;
  border: 10px;

}

:host ::ng-deep .movies-list {

  &__item {
    background-color: var(--base-bg-color);

    .description {
      background-color: var(--base-bg-color);
    }
  }


}

