:host {
  --base-text-color: #000;
  --base-bg-color: #ccc;
  --base-border-color: #ccc;
  --base-invalid-color: red;
  --base-valid-color: greenyellow;
  --btn-bg-color: #333;
  --btn-text-color: #fff;
  --contact-text-color: #215A93;
  --dropdown-bg-color: #f9f9f9;
}

