@mixin btnStyles {
  display: inline-block;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  width: 40%;

  &:hover {
    opacity: 0.8;
  }
}

:host {
  --base-text-color: #000;
  --base-bg-color: #f6fafd;
  --base-border-color: #ccc;
  --base-invalid-color: red;
  --base-valid-color: greenyellow;
  --base-bg-notification: rgb(6, 104, 42);
  --btn-bg-color: #215a93;
  --btn-text-color: #a1bcd6;
  --contact-text-color: #215A93;
  --dropdown-bg-color: #f9f9f9;
  --base-bg-footer: #f6fafd;
  --base-bg-header: #215a93;
  --header-text-color: #a1bcd6;
  --base-bg-hover: #215a93;
  --base-text-hover: #ccc;
  --white-bg-color: white;
}

