<div class="filmList d-flex p-2 justify-content-between
bg-light flex-wrap">
  <div class="film1 d-flex p-2 justify-content-between flex-column bg-light w-25 cursor-pointer" *ngFor="let item of movies"
    (click)="setMovie(item)">
    <h1>{{item.title}}</h1>
    <h2>{{item.subtitle}}</h2>
    <div class="previewFilm1 preview">
      <img class="w-100" src={{item.thumb}} />
    </div>
    <button type="button"
            class="btn btn-outline-secondary"
            data-container="body"
            data-trigger="focus"
            on-click="modalDescription($event, item.description)"
            data-toggle="popover"
            placement="bottom"
            >
      Description!

    </button>
    <div class="modal-description"></div>
  </div>
</div>


<!-- ngbPopover='{{item.description}}' -->
