<app-video-player></app-video-player>
<div class="filmList d-flex p-2 justify-content-between
bg-light flex-wrap">
  <div class="film1 d-flex p-2 justify-content-between flex-column bg-light w-25 cursor-pointer" *ngFor="let item of this.data.movies"
    (click)="setMovie(item)">
    <a
      class="title-link"
      [routerLink]="['/movie']"
      (click)="movieNewWindow(item)"
    >
      <h1 class="title">{{item.title}}</h1>
    </a>
    <h2 class="subtitle">{{item.subtitle}}</h2>
    <div class="previewFilm1 preview">
      <img class="w-100" src={{item.thumb}} />
    </div>
    <button type="button"
            class="btn btn-outline-secondary"
            data-container="body"
            (click)="modalDescription(item)"
            placement="bottom"
            >
      Description!

    </button>
      <div
        [id]="item.title"
        [class]="item.title"
        [ngClass]="{'modal-description-active' : isActiveButton}"
        *ngIf="isActiveButton && item.title === title"
        (click)="showFullDescription(item)">
        <p class="description">{{showDescription}}</p>
      </div>
  </div>
</div>
